@using SmartLibrary.Resources
@using SmartLibrary.Admin.Pages;
@model SmartLibrary.Models.Login
@{
    Layout = Url.Content("~/Views/Shared/_LoginLayout.cshtml");
    ViewBag.Title = Account.ForgotPassword;
}
<div class="vertical-wrapper login-wrapper">
    <div class="vertical-wrapper-inner">
        <div class="form-wrapper">
            <a href="#" class="brand" title="@SmartLibrary.Resources.General.ApplicationName"><img src="@Url.Content("~/Images/logo.png")" alt="@SmartLibrary.Resources.General.ApplicationName" /></a>
            <h3 class="title">@Account.ForgotPassword</h3>
            @using (Html.SmartLibSecureForm(Actions.ForgotPassword, Controllers.Account))
            {
                <div class="form-group floating big-input">
                    <label class="control-label">@Account.EmailAddress</label>
                    @Html.PasswordFor(m => m.Email, new { @class = "form-control" , type = "email" })
                    <div class="form-control-position">
                        <i class="fa fa-key"></i>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block btn-lg">
                    @General.Submit
                </button>
                <div class="card-footer no-border">
                    <p class="float-sm-left text-xs-center"><a href="@Url.Action(Actions.Index, Controllers.Account)" class="card-link">@Account.Login</a></p>
                </div>
                <div class="alert alert-danger" role="alert" style="display:none;font-size:14px;" id="dv-error">
                    <span class="alert-d-symbol" id="dv-error-message"></span>
                </div>
            }
        </div>
    </div>
</div>