@using SmartLibrary.Infrastructure;
@model IEnumerable<SmartLibrary.Models.BookGenre>
@{
    ViewBag.Title = SmartLibrary.Resources.General.BookGenre;
    Layout = "~/Views/Shared/_Layout.cshtml";
    PageAccessRight currentPageAccessRight = (PageAccessRight)ViewData["CurrentPageAccessRight"];
}
<div class="wrapper">
    <div class="card-container">
        <div class="card">
            <div class="card-header">

                <span>
                    <img src="@Url.Content("~/Images/books-stack-of-three-Title.svg")" alt="@SmartLibrary.Resources.General.BookGenre" class="card-header-image"> &nbsp;
                </span>
                <h2 class="card-title card-title-img"><b>@SmartLibrary.Resources.General.BookGenre</b></h2>
                <ul class="filter-panel">
                    <li class="searchbox">
                        <input type="text" class="form-control" placeholder="@SmartLibrary.Resources.General.Search" id="searchText" />
                        <img src="@Url.Content("~/Images/search.svg")" alt="@SmartLibrary.Resources.General.Search" id="SearchBtnForList" />
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="btn btn-primary btn-icon btn-raised resetIcon" title="@SmartLibrary.Resources.General.Reset" onclick="resetSearch()">
                            <img src="@Url.Content("~/Images/close-white.svg")" >
                        </a>
                    </li>
                    <li class="@(currentPageAccessRight.AddUpdate ? "visible-item":"hidden-item")"><a onclick="LoadModal(0)" class="btn btn-primary btn-icon btn-raised" title="@SmartLibrary.Resources.General.Add @SmartLibrary.Resources.General.Genre"><img src="@Url.Content("~/Images/plus-white.svg")" alt="Add" class="small" /></a></li>
                </ul>
            </div>
            @using (Html.SmartLibSecureForm(SmartLibrary.Admin.Pages.Actions.BookGenre, SmartLibrary.Admin.Pages.Controllers.Master, new { id = "formBookGenre" }))
            {
                <div class="table-responsive custom custom-datatable">
                    <table class="list-table" id="tblDisplayBookGenre"></table>
                </div>

            }
        </div>
    </div>
</div>
<div id="divModal"></div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            BindTable();
            var activemenus = ["#liBookGenre", "#liMaster"];
            ActiveMenu(activemenus);
        });

        function bindSearch() {
            var param = {};
            param["searchdata"] = $('#searchText').val();
            return param;
        }
        function resetSearch(){
            $("#searchText").val('');
            BindTable();
        }
        $("#searchText").keydown(function (e) {
            if (e.keyCode == 13) {
                if (!isValidSearchCriteria('searchText')) { return false; }
                BindTable();
            }
        });

        function BindTable() {

            if ($.fn.DataTable.isDataTable("#tblDisplayBookGenre")) {
                $('#tblDisplayBookGenre').dataTable().fnDestroy();
                $('#tblDisplayBookGenre').html('<table id="tblDisplayBookGenre" class="list-table"></table>');
            }

            table = $("#tblDisplayBookGenre").DataTable({
                "lengthChange": true,
                "processing": true,
                "oLanguage": {
                    sProcessing: "<img src='../Images/Loader-Spinner.svg' class='datatable-loadingbar'>"
                },
                "serverSide": true,
                "orderMulti": false,
                "pageLength": @SmartLibrary.Infrastructure.ProjectConfiguration.PageSize,
                'autoWidth': false,
                'searching': false,
                "ajax": {
                    url: '@Url.Action(SmartLibrary.Admin.Pages.Actions.BookGenre, SmartLibrary.Admin.Pages.Controllers.Master)',
                    type: "POST",
                    data: bindSearch()
                },
                "columns": [
                    {
                        "title": "@SmartLibrary.Resources.General.Name", "data": "Name", width: "53%",
                        "render": function (data, type, row) {
                            var str = '<span>' + data + '</span>';
                            return str;
                        }
                    },
                    {
                        "title": "@SmartLibrary.Resources.General.CreatedDate", "data": "CreatedDate", width: "22%",
                        "render": function (data, type, row) {
                            var str= DataTableCustomDateTimeFormat(data, '@SmartLibrary.Infrastructure.ProjectConfiguration.DateFormat.ToUpper()');
                            str = '<span>' + str + '</span>';
                            return str;
                        }
                    },
                    {
                        "title": "@SmartLibrary.Resources.General.Actions",width: "17%",
                        "data": "Active",
                        "class": "action text-center action-icons",
                        "render": function (data, type, row) {
                            var appendstring = '';
                            if (data == true)
                                appendstring += '<a  class="@(currentPageAccessRight.AddUpdate ? "visible-item":"hidden-item")" href="#" onclick="ChangeStatus(' + row["ID"] + ',false)" title="@SmartLibrary.Resources.General.Active"><img src="@Url.Content("~/Images/eye.svg")" alt="Eye" width="15" /></a>'
                            else
                                appendstring += '<a class="@(currentPageAccessRight.AddUpdate ? "visible-item":"hidden-item")" href="#"  onclick="ChangeStatus(' + row["ID"] + ',true)" title="@SmartLibrary.Resources.General.InActive"><img src="@Url.Content("~/Images/eye-banned.svg")" alt="Eye Banned" width="15" /></a>'
                            appendstring += ' <a class="@(currentPageAccessRight.AddUpdate ? "visible-item":"hidden-item")" onclick="LoadModal(' + row["ID"] + ')" data-id="' + row["ID"] + '"href="#" title="@SmartLibrary.Resources.General.Edit"><img src="@Url.Content("~/Images/edit.svg")" alt="Edit" width="15" /></a>'
                            appendstring += '<a class="Action delete @(currentPageAccessRight.Delete ? "visible-item":"hidden-item")" data-id="' + row["ID"] + '"href="#" title="@SmartLibrary.Resources.General.Delete" ><img src="@Url.Content("~/Images/delete.svg")" alt="delete" width="15" /></a>';
                            return appendstring;
                        },
                        "orderable": false
                    }
                ],
                "drawCallback": function (settings, json) {
                    InitVariable();
                    InitDeleteConfirmation();
                    RemoveGridBottom("tblDisplayBookGenre");
                }
            });
        }
        function InitVariable() {
            confirmMessage = '@SmartLibrary.Resources.General.ConfirmDeleteMessage';
            confirmTitle = '@SmartLibrary.Resources.General.ConfirmDelete';
            confirmYes = '@SmartLibrary.Resources.General.Yes';
            confirmNo = '@SmartLibrary.Resources.General.No';
        }
        function DeleteCallback(event) {
            if (event != undefined) {
                if (event.target != undefined) {
                    var atag = event.target;
                    if (event.target.tagName == "IMG") {
                        atag = $(event.target).parent();
                    }
                    $.ajax({
                        type: "POST",
                        beforeSend: function (xhr) { xhr.setRequestHeader('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]', $("#formBookGenre")).val()); },
                        url: encodeURI('@Url.Action(SmartLibrary.Admin.Pages.Actions.DeleteBookGenre, SmartLibrary.Admin.Pages.Controllers.Master)'),
                        data: { "id": $(atag).attr('data-id') },
                        cache: false,
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                BindTable();
                                ShowMessage(response.status, response.message, response.title, null, null)
                            }
                            else {
                                ShowMessage(response.status, response.message, response.title, null, null)
                            }
                        },
                        error: function (jqXHR, exception, errMsg) {
                            alert(errMsg);
                        }
                    });
                }
            }
        }
        function LoadModal(id) {
            $.ajax({
                type: "Get",
                url: "@Url.Action(SmartLibrary.Admin.Pages.Actions.AddEditBookGenre, SmartLibrary.Admin.Pages.Controllers.Master)",
                traditional: true,
                data: { id: id },
                success: function (response) {

                    $("#divModal").html(response);
                    $("#book-genre-modal").modal('show');
                    EnableClientSideValidation($('#formManageBookGenre'));
                }
            });
        }

        function ChangeStatus(id, status) {
            $.ajax({
                type: "POST",
                url: "@Url.Action(SmartLibrary.Admin.Pages.Actions.ChangeBookGenreStatus, SmartLibrary.Admin.Pages.Controllers.Master)",
                beforeSend: function (xhr) { xhr.setRequestHeader('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]', $("#formBookGenre")).val()); },
                traditional: true,
                data: { id: id, status: status },
                success: function (response) {
                    if (response.resultData == -1) {
                        ShowMessage(response.status, response.message, response.title, null, null)
                    }
                    else {
                        $("#tblDisplayBookGenre").DataTable().ajax.reload(null, false);
                    }
                }
            });
        }
    </script>

}