<!doctype html>
<html>
<head>
    <meta charset="utf-8">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>@SmartLibrary.Resources.General.ApplicationName_BackOffice</title>
    <link rel="shortcut icon" href="~/Images/favicon.ico" />   
    <!-- BEGIN Custom CSS-->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Vendor")
    <script>
        var IllegalCharMsg = '@SmartLibrary.Resources.Messages.RestrictIllegalCharacters';
        var uploadFileLimitBytes = @Constants.MAXIMUM_FILE_UPLOAD_SIZE_BYTES;
        var validExtensions = {};
        validExtensions.validtypes = '@(string.Join(",", new String[] { SystemEnumList.FileExtension.Jpeg.GetDescription().ToLower(), SystemEnumList.FileExtension.Png.GetDescription().ToLower(), SystemEnumList.FileExtension.Jpg.GetDescription().ToLower() }))';
        var FileSizeError = '@SmartLibrary.Resources.Messages.FileSizeClient';
        var FileTypeError = '@SmartLibrary.Resources.Messages.FileTypeClient';
    </script>
    @RenderSection("scripts", required: false)
</head>
<body id="pagebody">
    @RenderBody()   
</body>
@Html.Partial("_Messages")
</html>